<!DOCTYPE html>
<html lang="ja">
<head>
    <title>OPAC</title>
    <meta charset="utf-8">  
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">簡易検索</a></li>
                <li><a href="free_word.html">フリーワード検索</a></li>
            </ul>
        </nav>
    </header>

    <div class="search">
        <h1>検索するキーワードを入力してください</h1>
        <h3>フリーワード:</h3>
        <form action="GET" method="POST">
                <input id="search-bar" name="keywords" type="text" placeholder="例:高校数学">
        <div class="buttons">
               <input id="search-button" type="submit" value="検索">
               <input id="clear-button" type="reset" value="クリア">
        </div>
        </form>
    </div>

    </div>
    <main>
        <h2>検索結果一覧</h2>
        <div id="results">
            
        </div>

           
    </main>
    
</body>
</html>